{% extends "layout.html" %}

{% block title%}
    Menu
{% endblock %}

{% block main %}

<ul style="text-align: left;">
    <a href="/tictactoe"><h3><strong>Tic Tac Toe</strong></h3></a>
    <p>Implemented a Tic-Tac-Toe game with <strong>Python</strong>.</p>
    <p><strong style="color: green;">Update: </strong> Currently working on AI feature that allows a user to make an optimal move.</p>
    <img src="/static/minmax.jpeg" width="400px" height="200px">
</ul>
<ul style="text-align: left;">
    <a href="/mastergame"><h3><strong>Mastergame</strong></h3></a>
    <p>A guessing number game implemented using <strong>JavaScript</strong> and <strong>Python</strong>. </p>
    <p>It uses a Random Number Generator <strong>API</strong> to generate the number combinations.</p>
    <p><strong style="color: red;">Known Bugs:</strong></p>
    <p>- Need to reconsider timer feature and it's implemention, when user refreshes page or submits it momentarily freezes</p>
</ul>
<ul style="text-align: left;">
    <a href="/draw"><h3><strong>Draw</strong></h3></a>
    <p>Created using <strong>SVG's</strong>(Scalalabe vector graphics) and <strong>D3JS</strong> library to interact with the vector graphics.</p>
    <p>Points are drawn on a screen using the mouse x and y coordinates.</p>
    <p><strong style="color: red;">Obstacles:</strong> I ran into had to do with browsers in general and that they can only fire events every so many milliseconds. </p>
    <p>- A workaround was to fill in lines between dots creating the illusion of smooth strokes when drawing. </p>
        </p>
    
</ul>
<ul style="text-align: left;">
    <a href="/quiz"><h3><strong>Quiz</strong></h3></a>
    <p>Implemented using <strong>JavaScript</strong> to modify the DOM entirely client side.</p>
</ul>
<ul style="text-align: left;">
    <a href="/flashcards"><h3><strong>Flashcards</strong></h3></a>
    <p>Implemented using <strong>REACT</strong> which is a declarative style of coding (this is what I want it to look like, you figure it out).</p>
    <p>It uses JSX instead of JavaScript. I also use Babel to translate <strong>JSX -> JavaScript </strong>since most browsers don't understand JSX.</p>
    <p>In REACT we have to think about our application in components and states, and how those components are going to behave. </p>
    <p>What makes REACT powerful is if you change the state, the view also changes.</p>
    <p><strong style="color: red;">Known Bugs:</strong> </p>
    <p> - Currently working on a feature using <strong style="color: blue;">componentDidMount</strong> that allows us to store data in browsers when user exits or refreshes page.
        I need to reconsider my approach since browsers tend to store information in Local Storage as a string and need to parse and stringify my data acoordingly.
    </p>
</ul>
<!-- <ul>
    <a href="">Connect 4</a>
    <p>More REACT :)</p>
</ul> -->


{% endblock %}